<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
><div>
<h1>Информация о пользователе</h1>
<h2>Введите информацию о пользователе</h2>

<form th:method="POST" th:action="@{/saveUser}" th:object="${User}">

  <input type="hidden" th:field="*{id}"/>
  <p>
    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name">
  </p>
  <p>
    <label for="surname">Фамилия:</label>
    <input type="text" th:field="*{surname}" id="surname">
  </p>
  <p>
    <label for="department">Отдел:</label>
    <input type="text" th:field="*{department}" id="department">
  </p>
  <p>
    <label for="salary">Зарплата:</label>
    <input type="text" th:field="*{salary}" id="salary">
  </p>
  <p>
    <input type="submit" value="OK" />
  </p>
</form>

</div>
</body>
</html>